* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

#title {
    font-family: "Dancing Script", cursive;
    font-weight: bolder;
    font-size: 5rem;
    /*color: #ce1e1e;*/
    color: #c71212;
    
}

#subtitle {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 2rem;
    color: rgb(199, 18, 18);
    
}

#header-container {
    /*background-color: rgb(240, 181, 5);*/
    background-color: #d99b96;
    display: flex;
    justify-content: space-around;
    width: 100vw;
    height: 25vh;
    align-items: center;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.726);
}

#navbar {
    justify-content: center;
}

#list {
    list-style: none;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    /*margin-top: 3rem;*/
}

#list li {
    padding: 0.5rem 1rem;
    background-color: brown;
    border-radius: .5rem;
    cursor: pointer;
    color: #fff;
    font-size: .8rem;

}

#brand {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

main {
    /*background-color: rgba(240, 181, 5, 0.356);*/
    /*background-color: #fca1de;*/
    background-color: #a3bf65;
    width: 100vw;
}

#foot {
    /*background-color: rgb(240, 181, 5);*/
    background-color: #d99b96;
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
    font-style: italic;
}

.section {
    margin-left: 4rem;
    margin-right: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.section-title {
    padding: 4rem 2rem;
    text-align: center;
    font-size: 2.5rem;
    font-weight: normal;
}

.text-right,
.text-left {
    width: 450px;
    height: 450px;
    font-size: 1.5rem;
    line-height: 2rem;
}

.text-left {
    text-align: right;
}


.imagem {
    width: 450px;
    height: 450px;
    border-radius: .5rem;
}

.first-letter {
    font-family: "Dancing Script", cursive;
    font-weight: bold;
    font-size: 3rem;
}

/*#menu {
    width: 50px;
    height: 50px;
}*/
