/* paleta roxa monocromatica 

HEX : #ffb0ff
RGB : 255, 176, 255
HSL  : 300, 100%, 84%

HEX : #dd8bdd
RGB : 221, 139, 221
HSL  : 300, 54%, 70%

HEX : #bc65bb
RGB : 188, 101, 187
HSL  : 300, 39%, 56%

HEX : #9a4099
RGB : 154, 64, 153
HSL  : 300, 41%, 42%

HEX : #791b78
RGB : 121, 27, 120
HSL  : 300, 63%, 29%  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.title {
  font-family: "Dancing Script", cursive;
  font-weight: bolder;
  font-size: 5rem;
  color: #d30505;
  text-shadow: 1px 1px 2px #ffffff9d;
}

.subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  color: #d30505;
  text-shadow: 1px 1px 2px #ffffff9d;
}

.header-container {
  background-color: #bd3cbbd2;
  display: flex;
  justify-content: space-around;
  max-width: 100%;
  height: 28vh;
  align-items: center;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.76);
}

.navbar {
  justify-content: center;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 15px;
}

.list li {
  text-align: center;
  width: 8rem;
  padding: 0.2rem 0.3rem;
  color: #ffffffc2;
  border-radius: 0.5rem;
  cursor: pointer;
  border: 2px solid #ffffffc2;
  font-size: 0.8rem;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25);
}

.list li:hover,
a:hover {
  background-color: #d30505;
  transition: 0.5s;
  color: #ffffffd5;
}

.brand {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.76);
}

body {
  background-color: #dd8bdd;
  width: 100vw;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100vw;
}

.foot {
  background-color: #9a4099;
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-style: italic;
  color: #ffffffd5;
}

.foot a {
  font-size: 30px;
  margin-left: 5%;
  padding: 5px;
  border-radius: 50%;
  background-color: #ffb0ff;
}

.foot a:hover {
  border: 1px solid #ffb0ff;
}

.section {
  margin-left: 4rem;
  margin-right: 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.section-title {
  padding: 4rem 2rem;
  text-align: center;
  font-size: 2.5rem;
  font-weight: normal;
  color: #791b78;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.39);
}

.text-right,
.text-left {
  text-indent: 4rem;
  width: 450px;
  height: 450px;
  font-size: 1.3rem;
  line-height: 2rem;
  color: #791b78;
  padding-top: 2rem;
  margin: 0 2rem 0 2rem;
}

.text-left {
  text-align: right;
}

.imagem {
  width: 450px;
  height: 450px;
  border-radius: 50%;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25);
  border: 2px solid #791b78;
}

.first-letter {
  font-family: "Dancing Script", cursive;
  font-size: 3rem;
}

.contact-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-bottom: 1rem;
}

.contact-title {
  margin-top: 2rem;
  text-align: center;
  font-size: 2.5rem;
  font-weight: normal;
  color: #791b78;
  padding: 1rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.39);
}

.contact-logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25);
}

.comments {
  margin-top: 6rem;
  width: 100%;
  height: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 2rem;
  background-color: #ffb0ff;
  align-items: center;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25);
}

.comments p {
  margin-left: 7rem;
  background-color: #9a4099;
  height: 11rem;
  width: 24rem;
  color: #ffffffd5;
  font-size: 0.9rem;
  font-style: italic;
  line-height: 1.7rem;
  border-radius: 50%;
  padding-top: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
  text-align: center;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25);
}

.aspas {
  font-size: 1.5rem;
}

.precos {
  background-color: #ffb0ff;
  height: 14rem;
  width: 100%;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25);
}

.preco {
  color: #791b78;
  font-size: 1rem;
  padding: 0.5rem;
}

a {
  text-decoration: none;
}

a:hover {
  background-color: transparent;
  text-decoration: none;
}

/* Tratando media queries */

@media (min-width: 200px) and (max-width: 640px) {
  .header-container {
    height: 60vh;

    width: 100%;
    flex-direction: column;
    justify-content: space-between;
  }
  .navbar,
  .list {
    flex-direction: row;
  }
  .logo img {
    margin-top: 2rem;
  }
}

@media (min-width: 641px) and (max-width: 768px) {
  .header-container {
    height: 60vh;
    width: 100vw;
    flex-direction: column;
  }

  .navbar,
  .list {
    flex-direction: row;
  }
  .subtitle {
    margin-bottom: 10px;
  }
  .logo img {
    margin-top: 2rem;
  }

  .section {
    margin: 0 1rem;
  }
}

@media (min-width: 769px) and (max-width: 1090px) {
  .text-right,
  .text-left {
    text-align: justify;
  }
  .precos {
    margin-top: 2rem;
  }
  .section-title {
    margin-top: 2rem;
  }
}
