* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

#title {
    font-family: "Dancing Script", cursive;
    font-weight: bolder;
    font-size: 5rem;
    /*color: #ce1e1e;*/
    color: #c71212;
    
}

#subtitle {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 2rem;
    color: #c71212;
    
}

#header-container {
    /*background-color: rgb(240, 181, 5);*/
    background-color: #d99b96;
    display: flex;
    justify-content: space-around;
    width: 100vw;
    height: 30vh;
    align-items: center;
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
    border: 2pix solid blue

}

#navbar {
    justify-content: center;
}

#list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    /*margin-top: 3rem;*/
}

#list li {
    text-align: center;
    width: 8rem;
    padding: 0.2rem .3rem;
    /*background-color: #c71212;*/
    border-radius: .5rem;
    cursor: pointer;
    color: #c71212;
    border: 2px solid #c71212;
    font-size: .8rem;
}

#list li:hover {
    color: #ffffffd5;
    background-color: #c71212;
    transition: .4s;
}

#brand {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
}

main {
    /*background-color: rgba(240, 181, 5, 0.356);*/
    /*background-color: #fca1de;*/
    background-color: #a3bf65;
    width: 100vw;
}

#foot {
    /*background-color: rgb(240, 181, 5);*/
    background-color: #d99b96;
    width: 100vw;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .9rem;
    font-style: italic;
    color: #333;
}

.section {
    margin-left: 4rem;
    margin-right: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.moldura-fotos-pequenas {
    width: 450px;
    height: 450px;
    display: flex;
    flex-wrap: wrap;
}

.section-title {
    padding: 4rem 2rem;
    text-align: center;
    font-size: 2.5rem;
    font-weight: normal;
    color: #333;
}

.text-right,
.text-left {
    width: 450px;
    height: 450px;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #333;
}

.text-left {
    text-align: right;
}


.imagem {
    width: 450px;
    height: 450px;
    border-radius: .5rem;
}

.imagem-menor-cima {
    width: 450px;
    height: 225px;
    border-radius: .5rem .5rem 0 0;
}

.imagem-menor-baixo {
    width: 450px;
    height: 225px;
    border-radius: 0 0 .5rem .5rem;
}

.imagem-pequena-1 {
    width: 225px;
    height: 225px;
    border-radius: .5rem 0 0 0;
}

.imagem-pequena-2 {
    width: 225px;
    height: 225px;
    border-radius: 0 .5rem 0 0;
}

.imagem-pequena-3 {
    width: 225px;
    height: 225px;
    border-radius: 0 0 0 .5rem;
}

.imagem-pequena-4 {
    width: 225px;
    height: 225px;
    border-radius: 0 0 .5rem 0;
}

#moldura {
    display: flex;
    flex-direction: column;
}

.first-letter {
    font-family: "Dancing Script", cursive;
    font-weight: bold;
    font-size: 3rem;
}

/*#menu {
    width: 50px;
    height: 50px;
}*/
